---
import BaseHead from '../components/BaseHead.astro';
import Footer from "../components/Footer.astro";

const { heading, description } = Astro.props;
const { user, profile } = Astro.locals;
---

<!doctype html>
<html lang="en-us">
	<BaseHead title={heading} description={description} />
	<body>
    <ani-alert></ani-alert>
    <ani-layout>
      <div>
        <ani-top-nav></ani-top-nav>
				<main><slot /></main>
      </div>
    </ani-layout>
    <Footer />
    <script define:vars={{ user, profile }}>
      window.user = user;
      window.profile = profile;
    </script>
	</body>
</html>
